<div class="container-fluid">

    <div class="eight wide column">

        {{!-- inline form for bill plan creation --}}

        <div class="ui form">
            <div class="row">
                <div class="inline fields">
                    <label>Frequency</label>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="fruit" tabindex="0" class="hidden">
                            <label>Daily</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="fruit" tabindex="0" class="hidden">
                            <label>Monthly</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="fruit" tabindex="0" class="hidden">
                            <label>Annually</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui segment">
            <div class="row">
                <div class="ui form">
                    <div class="three fields">
                        <label>Pay</label>
                        <div class="field">
                            <input type="text" placeholder="$50.00">
                        </div>
                        <label>every</label>
                        <div class="field">
                            <input type="text" placeholder="Months">
                        </div>
                        <label>until</label>
                        <div class="field">
                            <input type="text" placeholder="Total = $500">
                        </div>
                    </div>
                </div>
            </div>

        </div>






        <div class="ui segment">
            <table class="ui celled striped table">
                <thead>
                    <tr>
                        <th colspan="3">
                            Current Bill Plans
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="collapsing">
                            <i class="folder icon"></i> node_modules
                        </td>
                        <td>Initial commit</td>
                        <td class="right aligned collapsing">10 hours ago</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="folder icon"></i> test
                        </td>
                        <td>Initial commit</td>
                        <td class="right aligned">10 hours ago</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="folder icon"></i> build
                        </td>
                        <td>Initial commit</td>
                        <td class="right aligned">10 hours ago</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="file outline icon"></i> package.json
                        </td>
                        <td>Initial commit</td>
                        <td class="right aligned">10 hours ago</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="file outline icon"></i> Gruntfile.js
                        </td>
                        <td>Initial commit</td>
                        <td class="right aligned">10 hours ago</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="/js/pay.js"></script>