<div class="container-fluid">
    <div class="container">
        <div class="ui raised segment">
  <h1 class="ui header">Welcome to the CardConnect Integration Builder!</h1>
   <div class="ui large header">Click <a href="/config">Config</a> to get started!</div>   
  </p>
</div>
    </div>

</div>

<link rel="stylesheet" href="/styles/search.css" media="screen" charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="/js/config.js"></script>