<div class="container-fluid">
    <div class="container">
        <form>
            
            <fieldset class="form-group row">
                <legend class="col-form-legend col-sm-1-12">Configuration</legend>
                <label for="merchid-input" class="col-sm-6 col-form-label">Merchant ID</label><div class="col-md-6">
                    <input type="text" class="form-control" name="merchid" id="merchid" placeholder="">
                </div>
                <label for="creds-input" class="col-sm-6 col-form-label">Credentials</label><div class="col-md-6">
                    <input type="text" class="form-control" name="creds" id="creds" placeholder="">
                </div>
                <br>
                <div class="ui buttons">
  <button class="ui button">Cancel</button>
  <div class="or"></div>
  <button class="ui positive button">Save</button>
</div>
            </fieldset>
            
            <div class="form-group row">
                
            </div>
        </form>
    </div>
    
</div>

<link rel="stylesheet" href="/styles/search.css" media="screen" charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="/js/config.js"></script>

